<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Manager</title>
    <link rel="stylesheet" href="/css/main.css">
    <script src="/js/modal.js"></script>
    <script src="/js/dialog.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
</head>

<body>
    <div class="container">
        <header>
            <% if (currentUser && currentUser.Role==='Admin' ) { %>
                <a href="/add" class="add-btn text-font">
                    Добавить
                </a>
                <% } %>
                    <div class="profile-icon">
                        <img src="/icons/icon.png" class="profile-img">
                        <div class="modal">
                            <div class="modal-content">
                                <span class="close"></span>
                                <a href="/profile" class="text-font text-black">Профиль</a>
                                <a href="/log_sign" class="text-font text-black">Сменить Профиль</a>
                            </div>
                        </div>
                    </div>
        </header>
        <main class="main">
            <div class="main_header">
                <button class="btn" id="open_add_dialog">
                    <span class="transition"></span>
                    <span class="gradient"></span>
                    <span class="label text-font">Добавить</span>
                </button>

                <div id="add_dialog" class="dialog">
                    <form action="/add_task" method="post">
                        <div class="dialog-content">
                            <span class="close-btn" id="close_add_dialog">&times;</span>
                            <p class="text-font text-black">Добавить задачу</p>
                            <input name="title" type="text" placeholder="Введите имя" class="text-input">
                            <textarea name="description" placeholder="Введите описание" class="text-input"></textarea>
                            <input type="datetime-local" id="start-time" name="start-time"
                                value="<%= (new Date()).toISOString().slice(0, 16) %>"
                                min="<%= (new Date()).toISOString().slice(0, 16) %>" />
                            <input type="datetime-local" id="end-time" name="end-time"
                                value="<%= (new Date()).toISOString().slice(0, 16) %>"
                                min="<%= (new Date()).toISOString().slice(0, 16) %>" />
                            <select name="executor" class="selector2 text-black text-font">
                                <% if (users.length> 0) { %>
                                    <% for (let i of users) { %>
                                        <option class="text-font text-black">
                                            <%= i.Surname %>
                                                <%= i.Name %>
                                                    <%= i.Patronymic %>
                                        </option>
                                        <% } %>
                                            <% } else { %>
                                                <option>Нет доступных пользователей</option>
                                                <% } %>
                            </select>
                            <button class="btn" type="submit">
                                <span class="transition"></span>
                                <span class="gradient"></span>
                                <span class="label text-font">Добавить</span>
                            </button>
                        </div>
                    </form>
                </div>

            </div>
            <div class="main_body">

                <div class="filter-container">
                    <select class="dropbtn selector text-black text-font">
                        <option class="text-font selector1 text-white"> Все </option>
                        <% for(let i of users) { %>
                            <option class="text-font selector1 text-white">
                                <%= i.surname %>
                                    <%= i.name %>
                                        <%= i.patronymic %>
                            </option>
                            <% } %>
                    </select>
                    <div class="dropdown">
                        <img src="/icons/sort.png" class="dropbtn">
                        <div class="dropdown-content">
                            <div class="text-font">
                                <a>Ссылка 1</a>
                                <a>Ссылка 2</a>
                                <a>Ссылка 3</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-font creator">Ваши задачи:</div>
                <div class="buttons-container button">
                    <% for(let i of tasksinworks) { %>
                        <div class="card">
                            <div class="info">
                                <p class="title text-font">
                                    <%= i.Title %>
                                </p>
                                <p class="text-font">
                                    <%= i.Desc %>
                                </p>
                            </div>
                            <div class="footer">
                                <p class="text-font">Дата начала: <%= (new Date(i.Date_start)).toLocaleDateString() %>
                                </p>
                            </div>
                            <div class="footer">
                                <p class="text-font">Срок: <%= (new Date(i.Date_end)).toLocaleDateString()  %>
                                </p>
                            </div>
                            
                            <div class="footer">
                                <button class="btn">
                                    <span class="transition"></span>
                                    <span class="gradient"></span>
                                    <span class="label text-font">Завершить</span>
                                </button>
                            </div>
                        </div>
                        <% } %>
                </div>
                <div class="text-font creator">
                    Созданные вами:
                </div>
                <% if(taskcreators && taskcreators.length > 0) {%>
                <div class="buttons-container button ">
                    <% for(let i of taskcreators) { %>
                        <div class="card">
                            <div class="info">
                                <p class="title text-font">
                                    <%= i.title %>
                                </p>
                                <p class="text-font">
                                    <%= i.description %>
                                </p>
                            </div>
                            <div class="footer">
                                <p class="text-font">Срок: <%= i.deadline %>
                                </p>
                            </div>
                            <div class="footer">
                                <p class="text-font">Дата начала: <%= i.date %>
                                </p>
                            </div>
                            <div class="footer">
                                <div class="text-font">Статус: <% if (i.date_ended) { %>
                                    Завершен
                                        <% } else { %>
                                            В процессе
                                            <% } %>
                                </div>
                            </div>
                            <div class="footer">
                                <form action="/delete" method="post">
                                <button class="btn">
                                    <span class="transition"></span>
                                    <span class="gradient"></span>
                                    <span class="label text-font">Удалить</span>
                                </button>
                                </form>
                            </div>
                        </div>
                        <% } %>
                        <% } else {%>
                        <div class="text-font">У вас нет задач</div>
                            <%}%>
                </div>
            </div>
        </main>
    </div>

</body>

</html>